.contact-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  p {
    margin: 0.3rem 0 !important;
    padding: 0 !important;
  }
  .icon {
    display: grid;
    grid-template-columns: 40px 1fr;
    i {
      display: flex;
      align-items: center;
      font-size: 1.3rem;
    }
  }
}

@media screen and (max-width: 600px) {
  .contact-item {
    flex-direction: column;
    margin: 1rem 0;
    p {
      font-size: 15px;
      color: var(--color-grey-2);
    }
    span {
      font-size: 15px;
    }
    .icon {
      grid-template-columns: 25px 1fr;
    }
  }
}
