.contact-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  p {
    margin: 0.3rem 0 !important;
    padding: 0 !important;
  }
  .icon {
    display: grid;
    grid-template-columns: 40px 1fr;
    i {
      display: flex;
      align-items: center;
      font-size: 1.3rem;
    }
    span {
      color: var(--color-secondary);
    }
  }
}

@media screen and (max-width: 600px) {
  .contact-item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start !important;
    margin: 1rem 0;
    p {
      align-self: flex-start;
      font-size: 15px;
      color: var(--color-grey-2);
    }
    span {
      font-size: 15px;
    }
  }
}
