.contact-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  p {
    margin: 0.3rem 0 !important;
    padding: 0 !important;
  }
  .icon {
    display: grid;
    grid-template-columns: 40px 1fr;
    i {
      display: flex;
      align-items: center;
      font-size: 1.3rem;
    }
  }
}
