.toggler {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: inherit;
  width: 80px;
  height: 40px;
  border-radius: 50px;
  background-color: var(--color-primary);
  cursor: pointer;
  transition: all 0.4s ease-in-out;
  p {
    font-size: 1rem;
    font-weight: 600;
  }
}

.toggler--text {
  margin-right: 2px;
  color: var(--color-secondary);
}
.toggler--slider {
  background-color: transparent;
  width: 35px;
  height: 15px;
  background-color: var(--color-white);
  border-radius: 2rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid black;
  box-sizing: content-box;
}

.toggler--slider--circle {
  height: 13px;
  width: 13px;
  background-color: var(--color-secondary);
  border-radius: 50%;
}
