//Portfolios
.port-text {
  padding: 2rem 0;
  text-align: center;
}

.portfolios {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  margin-top: 3rem;
  .portfolio-item {
    position: relative;
    border-radius: 15px;
    img {
      width: 100%;
      height: 300px;
      object-fit: cover;
      border-radius: 15px;
    }
  }
}

.portfolio-item:hover .hover-items {
  opacity: 1;
  transform: scale(1);
}

@media screen and (max-width: 1250px) {
  .portfolios {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 600px) {
  .portfolios {
    grid-template-columns: repeat(1, 1fr);
    padding-bottom: 6rem;
    margin-top: 1rem;
  }
}
